# sublime
*.sublime-project
*.sublime-workspace

# molecule
**/molecule/*

# personal server config
serverlist.yml

# personal assets
backup/

# Don't add other's script
roles/diskconf/files/disk-burnin.sh