# This file is managed by Ansible, don't make changes here, they will be overwritten.
#################################################
# config.yaml - Soft Serve configuration file #
#################################################

# The name of the server.
name: "{{ soft_serve_name }}"

# Logging configuration.
log:
  # Log format to use. Valid values are "json", "logfmt", and "text".
  format: "text"

# The SSH server configuration.
ssh:
  # The address on which the SSH server will listen.
  listen_addr: ":{{ soft_serve_ssh_port }}"

  # The public URL of the SSH server.
  # This is the address that will be used to clone repositories.
  public_url: "ssh://{{ ansible_hostname }}:{{ soft_serve_ssh_port }}"

  # The path to the SSH server's private key.
  key_path: {{ soft_serve_server_key }}

  # The path to the SSH server's client private key.
  # This key will be used to authenticate the server to make git requests to
  # ssh remotes.
  client_key_path: {{ soft_serve_client_key }}

  # The maximum number of seconds a connection can take.
  # A value of 0 means no timeout.
  max_timeout: 0

  # The number of seconds a connection can be idle before it is closed.
  idle_timeout: 300

# The Git daemon configuration.
git:
  # The address on which the Git daemon will listen.
  listen_addr: ":{{ soft_serve_git_port }}"

  # The maximum number of seconds a connection can take.
  # A value of 0 means no timeout.
  max_timeout: 0

  # The number of seconds a connection can be idle before it is closed.
  idle_timeout: 20

  # The maximum number of concurrent connections.
  max_connections: 8

# The HTTP server configuration.
http:
  # The address on which the HTTP server will listen.
  listen_addr: ":{{ soft_serve_http_port }}"

  # The path to the TLS private key.
  tls_key_path: ""

  # The path to the TLS certificate.
  tls_cert_path: ""

  # The public URL of the HTTP server.
  # This is the address that will be used to clone repositories.
  # Make sure to use https:// if you are using TLS.
  public_url: "http://{{ ansible_hostname }}:{{ soft_serve_http_port }}"

# The stats server configuration.
stats:
  # The address on which the stats server will listen.
  listen_addr: ":{{ soft_serve_stats_port }}"
