<!-- This file is managed by Ansible, don't make changes here, they will be overwritten. -->
# {{ softserve_name }}: Git server powered by Soft Serve

Welcome! Configure {{ softserve_name }} by cloning the `.soft-serve` repo and pushing changes.

```sh
git clone ssh://{{ inventory_hostname }}:{{ softserve_ssh_port }}/.soft-serve
```
