[Unit]
Description=Soft Serve
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
Environment=SOFT_SERVE_DATA_PATH="{{ softserve_data }}"
ExecStart=/usr/bin/soft serve

[Install]
WantedBy=default.target
